# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies client
/api/client/node_modules
/api/client/package-lock.json
/api/client/build

# dependencies node api
/api/node_modules
/api/package-lock.json
/api/build


/.pnp
.pnp.js


# testing
/coverage



# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
